.App {
  text-align: center;
}

.beerList{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
}
.beerList > div{
  margin: 2%;
  justify-content: center;
}


.image{
  width: 100%;
}

.ant-card-cover{
  width:25%;
}

.ant-input{
  border-radius: 25px !important;
  margin-top: 5% !important;
}

.ant-btn {
  margin-top: 5% !important;
}

.newBeer{
  margin-left: 5%;
  margin-right: 5%;
}
